---
layout: page
title: Projects & Collaborations
permalink: /projects/
---
<p>I&rsquo;ve been incredibly lucky in finding amazing people to dream and collaborate with. Here you can read more about some of my past and present projects and partnerships.</p>

<p><a class="button" href="{{ '/contact/' | relative_url }}">Contact Me</a></p>

<ul class="project-list">
  {% assign projects = site.projects | sort: "order" %}
  {% for project in projects %}
    <li>
      {% if project.image %}
        <div class="project-thumbnail">
          <img src="{{ project.image | relative_url }}" alt="" loading="lazy">
        </div>
      {% endif %}
      <div class="project-meta">
        <h2 class="project-title"><a href="{{ project.url | relative_url }}">{{ project.title }}</a></h2>
      </div>
      <p class="project-link"><a class="button" href="{{ project.url | relative_url }}">Learn more <span class="visually-hidden">about {{ project.title }}</span></a></p>
    </li>
  {% endfor %}
</ul>
