<footer class="site-footer">
  <div class="container">
    <p class="site-title">MieleLab</p>
    <ul class="footer-links">
      <li><a href="{{ '/privacy-policy/' | relative_url }}">Privacy Policy</a></li>
      <li><a href="{{ '/accessibility-statement/' | relative_url }}">Accessibility Statement</a></li>
    </ul>
    <div class="social-icons">
      <a href="https://www.facebook.com/josh.miele" aria-label="Josh Miele on Facebook"><img src="{{ '/assets/uploads/facebook.svg' | relative_url }}" alt=""></a>
      <a href="https://www.linkedin.com/in/jamielephd" aria-label="Josh Miele on LinkedIn"><img src="{{ '/assets/uploads/linkedin.svg' | relative_url }}" alt=""></a>
      <a href="http://berkeleyblink.bsky.social/" aria-label="Josh Miele on Bluesky"><img src="{{ '/assets/uploads/Bluesky.svg' | relative_url }}" alt=""></a>
      <a href="https://www.instagram.com/j.a.miele/" aria-label="Josh Miele on Instagram"><img src="{{ '/assets/uploads/Instagram-logo.svg' | relative_url }}" alt=""></a>
    </div>
  </div>
</footer>
